doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1, shrink-to-fit=no'
        )
        meta(
            name='description'
            content='Author: Vu Chuc, Content: Heatmap'
        )
        link(
            rel='icon'
            href='/icons/heat-map-icon-25.ico'
        )
        case page
            when 'login'
                title Login.
            when 'register'
                title Register.
            when 'dashboard'
                title Dashboard.
            default
                title Heatmap.
        link(
            rel='stylesheet'
            href='/css/style.css'
        )
        //link(
        //    rel='stylesheet'
        //    href='/css/bootstrap.min.css'
        //)
        //script(
        //    src="/js/jquery-3.4.1.min.js"
        //)
        //script(
        //    src="/js/popper.min.js"
        //)
        //script(
        //    src="/js/bootstrap.min.js"
        //)
    body
        case page
            when 'login'
                include login
            when 'register'
                include register
            when 'dashboard'
                include dashboard
            default
                div#main-container-01.main-container
                    div#status-container
                        h1 This app is in development.